*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 0;
    padding-right: 0;
}

a{
    color: black;
}
.div-padding{
    padding: 50px 75px 50px 75px;

}

.bouton{
    padding: 5px 10px 5px 10px;
    background-color: #c4c4c4;
    color: white;
    border: none;
    font-size: 18px;
}


header{
    background-color: #FFC1D8;
    padding-top: 20px;
}

.div-padding-side{
padding-left: 75px;
padding-right: 75px;
}

.div-color{
    background-color: #FFC1D8;

}


#form-div{
    width: 50%;
    background-color:#C4C4C4;
    padding: 40px;


}

.form-group{
    text-align: center;
}


.title-center{
    text-align: center;
}

.mdp-oublie{
    font-size: 12px;
    float: right;
}

h2{
    margin-top: 20px;

}
.img-right{
    text-align: right;
}

.h2-div-2 {
    margin-bottom: 50px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.div-big-piece-montee{
    padding-top: 0;
}

.div-img-big{
    text-align: right;
}

.img-310px{
    height: 420px;
    width: 420px;
}

#liste-ingredients{
    line-height: 50px;
}

#btn-commander{
    margin-top: 235px;
    margin-left: 170px;
}

.vignette-img{
    width: 240px;
    height: 160px;
}

h3{
    font-size: 24px;
    margin-top: 10px;
}

.p-vignette{
    text-align: center;
}


.title-notre-boutique{
    margin-bottom: 50px;

}

.devanture {
    height: 380px;
    width: 530px;
}

.liste-acces{
    margin-left: 105px;
}

.plan{
    height: 265px;
    width: 445px;
    text-align: right;
    float: right;
}

footer{
background-color:#C4C4C4;
color: black;
padding-top: 20px;
padding-bottom: 10px;
}